In [2]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from tabulate import tabulate

# Your input data
input_data = {
    'user_name': ['Jai12', 'Princi45', 'Gaurav6', 'Anuja120'],
    'on_time_payments': [28, 24, 19, 30],
    'total_payments': [30, 26, 22, 30],
    'credit_used': [3000, 1500, 1000, 0],
    'credit_limit': [10000, 5000, 4000, 1000],
    'oldest_account_years': [5, 3, 2, 8],
    'has_credit_card': [1, 1, 1, 0],
    'has_loan': [0, 1, 1, 1],
    'has_mortgage': [0, 0, 0, 1],
    'num_inquiries': [2, 1, 3, 0]
}

df = pd.DataFrame(input_data)

# Print as a table
print(tabulate(df, headers='keys', tablefmt='grid'))

+----+-------------+--------------------+------------------+---------------+----------------+------------------------+-------------------+------------+----------------+-----------------+
|    | user_name   |   on_time_payments |   total_payments |   credit_used |   credit_limit |   oldest_account_years |   has_credit_card |   has_loan |   has_mortgage |   num_inquiries |
+====+=============+====================+==================+===============+================+========================+===================+============+================+=================+
|  0 | Jai12       |                 28 |               30 |          3000 |          10000 |                      5 |                 1 |          0 |              0 |               2 |
+----+-------------+--------------------+------------------+---------------+----------------+------------------------+-------------------+------------+----------------+-----------------+
|  1 | Princi45    |                 24 |               26 |          1500 |           5000 |                      3 |                 1 |          1 |              0 |               1 |
+----+-------------+--------------------+------------------+---------------+----------------+------------------------+-------------------+------------+----------------+-----------------+
|  2 | Gaurav6     |                 19 |               22 |          1000 |           4000 |                      2 |                 1 |          1 |              0 |               3 |
+----+-------------+--------------------+------------------+---------------+----------------+------------------------+-------------------+------------+----------------+-----------------+
|  3 | Anuja120    |                 30 |               30 |             0 |           1000 |                      8 |                 0 |          1 |              1 |               0 |
+----+-------------+--------------------+------------------+---------------+----------------+------------------------+-------------------+------------+----------------+-----------------+

In [4]:
df.style.set_table_attributes("style='display:inline'").set_caption("Credit Score Input Data")